[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = store

[user]
  name = Ezechukwu Ojukwu
  email = ezechukwu69@gmail.com

[alias]
    b = branch
    c = commit -am
  l = log --all --graph --pretty=format:'%C(magenta)%h %C(white) %an %ar%C(auto) %D%n%s%n' --abbrev-commit
    r = reflog --date=iso
    R = reflog --date=iso --pretty
    a = add .
    s = status

[status]
  branch = true
  showUntrackedFiles = all
  showStash = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false
    prompt = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"

[rerere]
    enabled = true
[core]
	longpaths = true

[url "git@github.com:"]
	insteadOf = "gh:"

[url "git@github.com:"]
	insteadOf = "ez:"

[diff]
  context = 3
  renames = copies
  interhunkLines = 10
[log]
  graphColors = blue,yellow,cyan,magenta,green,red
