* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    /* background: #000; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right {
    margin-right: 20px;
}

.modules-left {
    margin-left: 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces {
    background: #bababa;
    border-radius: 30px;
    margin: 4px 12px;
}

#workspaces button.active {
    margin: 4px;
    background: #543f03;
    color: white;
    border-radius: 30px;
}

#workspaces button {
    margin: 4px;
    color: white;
    background: #3f3f3f;
    border-radius: 30px;
}

#io {
    background: #bababa;
    border-radius: 30px;
    margin: 4px 12px;
}

#io * > * + * {
    margin-left: 4px;
}


#io-2 {
    background: #bababa;
    border-radius: 30px;
    margin: 4px 12px;
}

#io-2,#io-3 * > * + * {
    margin-left: 2px;
}

#network,#cpu,#pulseaudio,#memory,#clock,#tray,#io-3,#disk,#window,#pulseaudio-slider {
    margin: 4px;
    padding: 0px 15px;
    background: #543f03;
    color: white;
    border-radius: 30px;
}

#clock,#tray,#io-3,#window, #pulseaudio-slider {
    border: 2px solid #bababa;
}

#custom-wofi, #custom-wlogout {
    margin: 4px 12px;
    padding: 0 10px;
    font-size: 30px;
    background: #bababa;
    color: #543f03;
    border: 3px solid #543f03;
    border-radius: 12px;
}

#custom-wlogout {
    font-size: 18px;
}

#pulseaudio-slider slider {
    min-height: 10px;
    min-width: 10px;
    opacity: 1;
    border: none;
    background: #543f03;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    opacity: 0;
    background-color: #bababa;
}
#pulseaudio-slider highlight {
    min-width: 1px;
    border-radius: 10px;
    background-color: #bababa;
}
